 {% extends "base.html" %}
 {% load static %}

 {% block content %}
 {% include 'includes/home-page-nav.html' %} 
<header>
    <div class="headline">
        <div class="inner">
            <p></p>
        </div>
    </div>
</header>
 <section>
     <div class="text-center">
         <div class="row">
             <div class="col-md-12">
                 <h2>What is Abhaile?</h2>
                 <hr>
                 <p>‘Nil Aon Tin Tan Mar Do Thin Tan Fein’. There is no fire like your own fire. This is the basis of
                     Abhaile. We here at Abhaile firmly believe that all of our strength comes from within. There is
                     nothing we can’t accomplish from looking inward and utilizing all of our own innate talents,
                     energies, experiences, and wisdoms. </p>

                 <p>Abhaile is here to help guide you and release your own
                     incredible potential through various exercises and meditations.</p>

                 <p>Welcome Home.</p>
             </div>
         </div>
     </div>
     <hr>
 </section>
 <br>
 <div class="text-center element-container">
     <h2>Choose your Element to get started...</h2>
     <br>
     <div class="row">
         {% for element in elements %}
         <div class="card col-lg-3 col-sm-6 img-wrap">
             <a class="element-container-image" href="{% url 'element' element.id %}">
                 <img src="{{ element.vertical_image.url }}" class="card-img-top" alt="{{ element.name }}">
                 <div class="img-text-{{ element.name }}">
                     <div class="img-description">
                         <h4>{{ element.friendly_name }}</h4>
                         <p class="card-text">{{element.element_description}}</p>
                     </div>
                 </div>
             </a>
         </div>
         {% endfor %}
     </div>
 </div>

 <script>
     var $headline = $('.headline'),
        $inner = $('.inner'),
        $nav = $('nav'),
        navHeight = 75;

        $(window).scroll(function() {
        var scrollTop = $(this).scrollTop(),
        headlineHeight = $headline.outerHeight() - navHeight,
        navOffset = $nav.offset().top;

        $headline.css({
        'opacity': (1 - scrollTop / headlineHeight)
        });
        $inner.children().css({
        'transform': 'translateY('+ scrollTop * 0.4 +'px)'
        });
        if (navOffset > headlineHeight) {
        $nav.addClass('scrolled');
        } else {
        $nav.removeClass('scrolled');
        }
        });
 </script>
 {% endblock %}