html {
    height: 100%;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

body {
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #333;
    /* background-color: ; */
}

header {
    background: #111;
}

.headline {
    position: relative;
    height: 40vw;
    color: #fff;
    text-align: center;
    background: url('/media/hp_img_3.jpg') no-repeat center center;
    background-size: cover;
}

.headline:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(17, 17, 17, 0.8);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
}

.inner h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
}

.inner p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

nav.scrolled {
    background: rgba(17, 17, 17, 0.9);
}

nav ul {
    float: right;
    list-style: none;
    padding: 25px;
    margin: 0;
}

nav li {
    float: left;
}

nav a {
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    margin: 5px 0 0 20px;
    display: block;
}

nav a:hover {
    color: #ededed;
}

.logo {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    padding-left: 2%;
    float: left;
}

.logo:before,
.logo:after {
    position: absolute;
    font-size: 2em;
    font-weight: 300;
    line-height: 0;
    color: #fff;
    top: 25px;
}

.logo:before {
    left: 20px;
}

.logo:after {
    left: 34px;
}

section {
    width: 100%;
    margin: 25px auto;
    padding: 20px;
    max-width: 80%;
    font-size: 1.2em;
    line-height: 1.6em;
    box-sizing: border-box;

}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.dropdown-menu {
    background-color: white;
}


.dropdown-menu a {
    margin: 0 auto;
}

p {
    font-family: 'Khula', sans-serif;
}

.element-container {
    width: 95%;
    margin: 0 auto;

}

.element-container-image {
    min-width: 100%;
    height: 50vh;
}

.element-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.element-pg-container-image {
    min-width: 100%;
    height: 60vh;
}

.element-pg-container-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .element-container-image img:hover {
    opacity: 0;
    transition:opacity 2s;
} */

.img-text-fire {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(247, 55, 24, 0.6);
    color: #fff;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img-text-water {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(35, 137, 218, 0.6);
    color: #fff;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img-text-air {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(252,217,91, 0.6);
    color: black;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img-text-earth {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(34,139,34, 0.6);
    color: #fff;
    font-weight: 500;
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
}

.img-wrap:hover .img-text-fire {
    visibility: visible;
    opacity: 1;
}

.img-wrap:hover .img-text-water {
    visibility: visible;
    opacity: 1;
}

.img-wrap:hover .img-text-air {
    visibility: visible;
    opacity: 1;
}

.img-wrap:hover .img-text-earth {
    visibility: visible;
    opacity: 1;
}

.img-description {
    transition: .2s;
    transform: translateY(1em);
    text-align: center;
}

.img-wrap:hover .img-description {
    transform: translateY(0);
}


.card {
    min-height: 100%;
    padding: 0;
}

.element-container-image-prod {
    min-width: 100%;
    min-height: 80%;
}

.element-container-image-prod img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.text-fire {
    color: rgba(247, 55, 24);
}

.text-water {
    color: rgba(35, 137, 218);
}

.text-air {
    color: rgba(252,217,91);
}

.text-earth {
    color: rgba(34,139,34);
}

.element-drop {
    border: 0.5px solid grey;
    color: darkgray;
    font-weight: 100;
}

.white {
    color: white;
}

/* .card-body {
    min-height: 100%;
} */




/* 
body {
    background: url('/media/homepage_background_cropped.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    
}

/* from Bulma */
/* .icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}
 */


.btn-fire {
    background: rgba(247, 55, 24);
    color: white;
}

.btn-water {
    background: rgba(35, 137, 218);
    color: white;
}

.btn-air {
    background: rgba(252,217,91);
    color: black;
}

.btn-earth {
    background: rgba(34,139,34);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-fire:hover,
.btn-fire:active,
.btn-fire:focus {
    background: rgba(247, 55, 24);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-water:hover,
.btn-water:active,
.btn-water:focus {
    background: rgba(35, 137, 218);
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-air:hover,
.btn-air:active,
.btn-air:focus {
    background: rgba(252,217,91);
    color: black;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-earth:hover,
.btn-earth:active,
.btn-earth:focus {
    background: rgba(34,139,34);
    color: white;
}
/* 
.text-black {
    color: #000 !important;
}

.border-black {
    border: 2px solid black !important;
    border-radius: 50%;
}

/* 
.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
} */

.new-line {
    white-space: pre-line;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
    font-family: 'Khula', sans-serif;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    font-family: 'Khula', sans-serif;

    /* text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

.btn-outline-black {
    background: white;
    color: black !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.btn-black {
    background: #222;
    color: white;
}


.btn-outline-fire {
    background: white;
    color: rgba(247, 55, 24) !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid rgba(247, 55, 24);
}

.btn-outline-fire:hover,
.btn-outline-fire:active,
.btn-outline-fire:focus {
    background: rgba(247, 55, 24);
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-fire:hover,
.btn-fire:active,
.btn-fire:focus {
    background: rgba(247, 55, 24);
    color: white;
}

.btn-outline-water {
    background: white;
    color: rgba(35, 137, 218) !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid rgba(35, 137, 218);
}

.btn-outline-water:hover,
.btn-outline-water:active,
.btn-outline-water:focus {
    background: rgba(35, 137, 218);
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-water:hover,
.btn-water:active,
.btn-water:focus {
    background: rgba(35, 137, 218);
    color: white;
}

.btn-outline-air {
    background: black;
    color: rgba(252,217,91) !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid rgba(252,217,91);
}

.btn-outline-air:hover,
.btn-outline-air:active,
.btn-outline-air:focus {
    background: rgba(252,217,91);
    color: black !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-air:hover,
.btn-air:active,
.btn-air:focus {
    background: rgba(252,217,91);
    color: black;
}

.btn-outline-earth {
    background: white;
    color: rgba(34,139,34) !important;
    /* use important to override link colors for <a> elements */
    border: 1px solid rgba(34,139,34);
}

.btn-outline-earth:hover,
.btn-outline-earth:active,
.btn-outline-earth:focus {
    background: rgba(34,139,34);
    color: white !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-earth:hover,
.btn-earth:active,
.btn-earth:focus {
    background: rgba(34,139,34);
    color: white;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/* prod image slider  */

#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	max-width: 100%;
	padding: 10px;

}

#featured{
	width: 500px;
	height: 600px;
	object-fit: fill;
	cursor: pointer;
	border: 2px solid black;
    margin-right: 6%;

}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid black;

}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider::-webkit-scrollbar {
		width: 8px;

}

#slider::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);

}
 
#slider::-webkit-scrollbar-thumb {
  background-color: #dede2e;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider::-webkit-scrollbar-thumb:hover{
    background-color: #18b5ce;
}


/* -------------------- toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }

    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }
}

.image-preview__image-image {
    display: none;
    width: 30%;
    height: 30%;
  }

.image-preview__image-image_1 {
    display: none;
    width: 25%;
    height: 25%;
  }

  .image-preview__image-image_2 {
    display: none;
    width: 25%;
    height: 25%;
  }

  .image-preview__image-image_3 {
    display: none;
    width: 25%;
    height: 25%;
  }

  .image-preview__image-image_4 {
    display: none;
    width: 25%;
    height: 25%;
  }




/* exercises page */

.element-container-image-exer {
    min-width: 100%;
    height: 25vh;
}

.element-container-image-exer img {
    width: 100%;
    height: 95%;
    object-fit: cover;
}


/* element page  */

.element-container-image-elem {
    min-width: 100%;
    height: 60%;
}

.element-container-image-elem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.water-bg {
    background-color: #81BCEB;
    height: 60%;
}

.fire_headline {
    position: relative;
    height: 30vw;
    color: #fff;
    text-align: center;
    background: url('/media/fire_image_h.jpg') no-repeat center center;
    background-size: cover;
}

.fire_headline:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(247, 55, 24, 0.7);
}

.fire_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
}

.fire_inner h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
}

.fire_inner p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

.fire_nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.fire_nav.scrolled {
    background: rgba(17, 17, 17, 0.9);
}



.water_headline {
    position: relative;
    height: 30vw;
    color: #fff;
    text-align: center;
    background: url('/media/water_image_h2.jpg') no-repeat center center;
    background-size: cover;
}

.water_headline:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35, 137, 218, 0.7);
}

.water_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
}

.water_inner h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
}

.water_inner p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

.water_nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.water_nav.scrolled {
    background: rgba(17, 17, 17, 0.9);
}

.air_headline {
    position: relative;
    height: 30vw;
    color: #fff;
    text-align: center;
    background: url('/media/air_image_h.jpeg') no-repeat center center;
    background-size: cover;
}

.air_headline:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(252,217,91, 0.5);
}

.air_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
}

.air_inner h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
}

.air_inner p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

.air_nav {
    position: fixed;
    width: 100%;
    z-index: 10;
    color: black;
}


.air_nav.scrolled {
    background: rgba(17, 17, 17, 0.9);
}

.earth_headline {
    position: relative;
    height: 30vw;
    color: #fff;
    text-align: center;
    background: url('/media/earth_image_h.jpg') no-repeat center center;
    background-size: cover;
}

.earth_headline:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(34,139,34, 0.6);
}

.earth_inner {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 10;
    transform: translateX(-50%) translateY(-50%);
    animation: fade-in 0.75s 0.25s ease-in forwards;
}

.earth_inner h1 {
    margin: 0;
    font-size: 4em;
    line-height: 1.2em;
}

.earth_inner p {
    margin: 0;
    font-size: 1.4em;
    font-style: italic;
    font-family: serif;
}

.earth_nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.earth_nav.scrolled {
    background: rgba(17, 17, 17, 0.9);
}

.text-container {
    margin-bottom: 10%;
}

.button-container {
    position: relative;
    margin-bottom: 10%;
}

.element-buttons {
    margin-bottom: 5vh;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1500%;
}

.element-buttons a {
    font-size: 7%;
}
