{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">Element Subscription Checkout</h2>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-lg-6 order-lg-last mb-5">
            <p class="text-muted">Order Summary ({{ product_count }})</p>
            <div class="row">
                <div class="col-7 offset-2">
                    <p class="mb-1 mt-0 small text-muted">Item</p>
                </div>
                <div class="col-3 text-right">
                    <p class="mb-1 mt-0 small text-muted">Subtotal</p>
                </div>
            </div>
            <hr class="my-0">
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="{% url 'subscribe' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <div id="card-element">
                    <!-- Elements will create input elements here -->
                </div>
                <!-- We'll put the error messages in this element -->
                <div id="card-errors" role="alert"></div>
                <input type="hidden" name="payment_intent_id" value="{{ payment_intent_id }}">
                <input type="hidden" name="stripe_plan_id" value="{{ stripe_plan_id }}">

                <button id="submit-button">Pay</button>
            </form>

            <div class="submit-button text-right mt-5 mb-2">
                <p class="small text-danger my-0">
                    <span class="icon">
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>€{{ grand_total|floatformat:2 }}</strong></span>
                </p>
            </div>
            </form>
        </div>
    </div>
</div>
<div id="loading-overlay">
    <h1 class="text-light logo-font loading-spinner">
        <span class="icon">
            <i class="fas fa-3x fa-sync-alt fa-spin"></i>
        </span>
    </h1>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'subscriptions/js/stripe_elements.js' %}"></script>
{% endblock %}