{% extends "base.html" %}
{% load static %}


{% block page_header %}

{% include 'includes/rest-of-site-nav.html' %}

{% endblock %}

{% block content %}

<!-- list of all elements  -->
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Elements</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="text-center element-container">
        <h2>Choose your Element to get started...</h2>
        <br>
        <div class="row">
            {% for element in elements %}
            <div class="card col-lg-3 col-sm-6 img-wrap">
                <a class="element-pg-container-image" href="{% url 'element' element.id %}">
                    <img src="{{ element.vertical_image.url }}" class="card-img-top" alt="{{ element.name }}">
                    <div class="img-text-{{ element.name }}">
                        <div class="img-description">
                            <h4>{{ element.friendly_name }}</h4>
                            <p class="card-text">{{element.element_description}}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}