{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'elements/css/elements.css' %}">
{% endblock %}


{% block content %}
{% include 'includes/home-page-nav.html' %}
<header>
    <div class="{{ element.name }}_headline">
        <div class="{{ element.name }}_inner">
            <p></p>
        </div>
    </div>
</header>
<section class="mb-4">
    <div class="text-center">
        <!-- element text  -->
        <div class="row">
            <div class="col-sm-12 col-lg-6 text-container">
                <h2>{{ element.friendly_name }}</h2>
                <hr>
                <p>{{ element.element_description }} </p>
                <hr>
                <br>
                <h4>Why choose {{element.friendly_name}}?</h4>
                <p>{{ element.why }}</p>
                <hr>
                <br>
                <h4>What does {{element.friendly_name}} breathing do?</h4>
                <p>{{ element.sub_benefits}}</p>
                <hr>
                <div class="card-body"></div>
            </div>
            <hr>
            <br>
            <!-- product, exercise and sign in buttons  -->
            <div class="col-sm-12 col-lg-6 button-container">
                <div class="element-buttons">
                    <a href="{% url 'products' %}?element={{ element.name }}"
                        class="dropdown-item element-button btn btn-{{ element.name }}">View all
                        {{element.friendly_name}} Products</a>

                    <div class="card-body"></div>
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'exercises' %}?element={{ element.name }}"
                        class="dropdown-item element-button btn btn-{{ element.name }}">View all
                        {{element.friendly_name}} Exercises</a>
                    {% else %}
                    <div class="card mb-4">
                        <h4>Sign up to Abhaile today to access {{element.friendly_name}} Breathing for entire
                            year for free.</h4>
                            <p class="already-user-text">Already a User? <a href="{% url 'account_login' %}">Login here</a></p>
                        <a href="{% url 'account_signup' %}" class="dropdown-item element-button btn btn-black">Sign Up
                            to Abhaile</a>
                    </div>
                    {% endif %}
                </div>
                <br>
            </div>
        </div>
    </div>

</section>
<script>
    // element pages header and nav 
    var $headline = $('.{{ element.name }}_headline'),
        $inner = $('.{{ element.name }}_inner'),
        $nav = $('.{{ element.name }}_nav'),
        navHeight = 75;

    $(window).scroll(function () {
        var scrollTop = $(this).scrollTop(),
            headlineHeight = $headline.outerHeight() - navHeight,
            navOffset = $nav.offset().top;

        $headline.css({
            'opacity': (1 - scrollTop / headlineHeight)
        });
        $inner.children().css({
            'transform': 'translateY(' + scrollTop * 0.4 + 'px)'
        });
        if (navOffset > headlineHeight) {
            $nav.addClass('scrolled');
        } else {
            $nav.removeClass('scrolled');
        }
    });
</script>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script src="{% static 'elements/js/carousel_train.js' %}"></script>
{% endblock %}