{% extends "base.html" %}
{% load static %}

{% block content %}
{% include 'includes/home-page-nav.html' %} 
<header>
   <div class="{{ element.name }}_headline">
       <div class="{{ element.name }}_inner">
           <p></p>
       </div>
   </div>
</header>
    <div class="container element-pg-container">
        <div class="row {{ element.name }}-bg">
            <div class="col-12 col-md-6">
                <div class="product-details-container">
                    <h4 class="mb-0">{{ element.friendly_name }}</h4>
                    <p class="mt-3">{{ element.element_description }}</p>
                    <p class="mt-3">{{ element.why }}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
     var $headline = $('.{{ element.name }}_headline'),
        $inner = $('.{{ element.name }}_inner'),
        $nav = $('.{{ element.name }}_nav'),
        navHeight = 75;

        $(window).scroll(function() {
        var scrollTop = $(this).scrollTop(),
        headlineHeight = $headline.outerHeight() - navHeight,
        navOffset = $nav.offset().top;

        $headline.css({
        'opacity': (1 - scrollTop / headlineHeight)
        });
        $inner.children().css({
        'transform': 'translateY('+ scrollTop * 0.4 +'px)'
        });
        if (navOffset > headlineHeight) {
        $nav.addClass('scrolled');
        } else {
        $nav.removeClass('scrolled');
        }
        });
        
    </script>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'exercises/js/breath_sync.js' %}"></script>
{% endblock %}