:root {
    --primary-color: lightsteelblue;
    --secondary-color: lightpink;
    --large: 20em;
    --small: 5em;
    --inhale-1-time: 8s;
    --exhale-1-time: 16s;
    --post_inhale_ht: 3s;
    --post_exhale_ht: 4s;
}


main {
    text-align: center;
    height: 300px;
}

.breath_bubble_container {
    position: relative;
    text-align: center;
} 

.bubble-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 25em;
    min-height: 25em;
    border-radius: 50%;
    border: 1px solid black;
}

.breath_bubble {
    margin: 0 auto;
    background-color: var(--primary-color);
    width: var(--small);
    height: var(--small);
    border-radius: calc( var(--small) / 2);                
}


/* @keyframes breath {
    25%, 50% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
    }   
   } */

@keyframes inhale_1 {
    0% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }
    100% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
       color: white;
    }   
}

@keyframes inhale_2 {
    0% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }
    100% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    }   
}

@keyframes inhale_3 {
    0% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }
    100% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    }   
}

@keyframes inhale_4 {
    0% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }
    100% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    }   
}

@keyframes exhale_1 {
    0% {
        background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       
    } 

    100% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
        
    }   
}

@keyframes exhale_2 {
    0% {
        background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    } 

    100% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }   
}

@keyframes exhale_3 {
    0% {
        background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    } 

    100% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }   
}

@keyframes exhale_4 {
    0% {
        background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
       content: "Breathe In";
    } 

    100% {
        background-color: var(--primary-color);
        width: var(--small);
        height: var(--small);
        border-radius: calc( var(--small) / 2);
    }   
}

@keyframes inhale_ht {
    0%, 100% {
       background-color: var(--secondary-color);
       width: var(--large);
       height: var(--large);
       border-radius: calc( var(--large) / 2);
    }   
}

@keyframes exhale_ht {
    0%, 100% {
       background-color: var(--primary-color);
       width: var(--small);
       height: var(--small);
       border-radius: calc( var(--small) / 2);
    }   
}
