<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="elements-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Elements
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="elements-link">
                <a href="" class="dropdown-item">Fire</a>
                <a href="" class="dropdown-item">Water</a>
                <a href="" class="dropdown-item">Air</a>
                <a href="" class="dropdown-item">Earth</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="exercises-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exercises
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exercises-link">
                <a href="" class="dropdown-item">For Energy</a>
                <a href="" class="dropdown-item">For Focus and Creativity</a>
                <a href="" class="dropdown-item">For Mental Health & Wellbeing</a>
                <a href="" class="dropdown-item">For Physical Wellbeing</a>
                <a href="" class="dropdown-item">All Exercises</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Fire Products</a>
                <a href="" class="dropdown-item">Water Products</a>
                <a href="" class="dropdown-item">Air Products</a>
                <a href="" class="dropdown-item">Earth Products</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>
    </ul>
</div>